* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  color: #29303b;
  font-size: 15px;
  font-weight: normal;
  margin-top: 50px;
  max-width: 1150px;
  margin-right: auto;
  margin-left: auto;
  color: black;
}

html li,
body li {
  list-style-type: none;
}

html a,
body a {
  text-decoration: none;
  color: black;
}

html a:hover,
body a:hover {
  text-decoration: none;
  color: black;
}

.ude-btnRed {
  background-color: #ec5252;
  border: 1px solid #ec5252;
  border-radius: 2px;
  padding: 11px 12px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}

.ude-btnRed:hover {
  background-color: #992337;
  border-color: #992337;
  color: #fff;
}

.ude-btnWhite {
  background-color: #ec5252;
  border: 1px solid #ec5252;
  border-radius: 2px;
  padding: 11px 12px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}

.ude-btnWhite:hover {
  background-color: #992337;
  border-color: #992337;
  color: #fff;
}

.khongten-header-wrapper {
  text-transform: uppercase;
  font-weight: normal;
}

.khongten-header-wrapper .khongten-top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #999999;
}

.khongten-header-wrapper .khongten-top-header .left-header p {
  margin-bottom: 0;
}

.khongten-header-wrapper .khongten-top-header .left-header img {
  width: 172px;
  margin-top: 0;
}

.khongten-header-wrapper .khongten-top-header .left-header .icon {
  cursor: pointer;
}

.khongten-header-wrapper .khongten-top-header .left-header .icon i {
  color: black;
  padding-right: 17%;
  padding-left: 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.khongten-header-wrapper .khongten-top-header .left-header .icon .fa-facebook-square:hover {
  color: #0d6efd;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.khongten-header-wrapper .khongten-top-header .left-header .icon .fa-youtube:hover {
  color: #dc3545;
}

.khongten-header-wrapper .khongten-top-header .left-header .icon .fa-instagram:hover {
  color: orange;
}

.khongten-header-wrapper .khongten-top-header .left-header .icon .fa-twitter:hover {
  color: #0d6efd;
}

.khongten-header-wrapper .khongten-top-header .left-header .icon #twitter {
  padding: 0;
}

.khongten-header-wrapper .khongten-top-header .right-header {
  text-align: right;
}

.khongten-header-wrapper .khongten-top-header .right-header a {
  font-weight: normal;
  color: #999999;
}

.khongten-header-wrapper .khongten-top-header .right-header span {
  padding: 0 10px;
}

.khongten-header-wrapper .khongten-top-header .right-header img {
  width: 172px;
  margin-top: 0;
}

.khongten-header-wrapper .khongten-top-header .right-header i {
  display: block;
  color: black;
}

.khongten-header-wrapper .khongten-top-header .search-toggle .icon-search {
  margin-right: -15px;
}

.khongten-header-wrapper .khongten-top-header .search-toggle .icon-close i {
  color: black;
}

.khongten-header-wrapper .khongten-top-header .search-toggle .search-icon {
  font-size: 16px;
  border: none;
  outline: none;
}

.khongten-header-wrapper .khongten-top-header .search-toggle .search-icon i {
  background-color: white;
}

.khongten-header-wrapper .khongten-top-header .search-toggle .search-icon.icon-close {
  opacity: 0;
  visibility: hidden;
}

.khongten-header-wrapper .khongten-top-header .search-toggle.opened .search-icon.icon-search {
  opacity: 0;
  visibility: hidden;
}

.khongten-header-wrapper .khongten-top-header .search-toggle.opened .search-icon.icon-close {
  opacity: 1;
  visibility: visible;
}

.khongten-header-wrapper .khongten-top-header .search-container {
  position: relative;
  max-height: 0;
  overflow: hidden;
}

.khongten-header-wrapper .khongten-top-header .search-container.opened {
  max-height: 40px;
}

.khongten-header-wrapper .khongten-top-header .search-container input[type="text"] {
  outline: none;
  font-size: 16px;
  width: 200px;
  background-color: #eee;
  border: 0;
  border-radius: 3px;
  padding: 10px;
}

.khongten-header-wrapper .khongten-top-header .search-container .search-icon {
  vertical-align: middle;
  border: none;
}

.khongten-header-wrapper .khongten-top-header .search-container .search-icon i {
  padding: 2px;
  background-color: white;
  font-size: 18px;
}

.khongten-header-wrapper .khongten-bottom-warpper {
  margin-top: 30px;
  font-weight: bold;
}

.khongten-header-wrapper .khongten-bottom-warpper hr {
  border: none;
  height: 1px;
  background-color: black;
}

.khongten-header-wrapper .khongten-bottom-warpper .line-bottom {
  height: 3px;
}

.khongten-header-wrapper .khongten-bottom-warpper .menu-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 120px;
}

.khongten-header-wrapper .khongten-bottom-warpper .menu-list ul li a {
  color: black;
}

.khongten-header-wrapper .khongten-bottom-warpper .menu-list ul li .new {
  color: #999999;
  font-weight: bold;
}

.khongten-featured-threads-wrapper .featured-threads-left {
  margin-top: 10px;
  padding: 0;
}

.khongten-featured-threads-wrapper .featured-threads-left .featured-threads-container {
  position: relative;
}

.khongten-featured-threads-wrapper .featured-threads-left .featured-threads-container img {
  width: 100%;
  height: 500px;
}

.khongten-featured-threads-wrapper .featured-threads-left .featured-threads-container .featured-threads-content {
  position: absolute;
  top: 0;
  font-size: 30px;
  font-weight: bold;
  color: white;
  padding: 0 60px;
  padding-top: 320px;
}

.khongten-featured-threads-wrapper .featured-threads-left .featured-threads-container .featured-threads-content .post-content a {
  border: 1px solid white;
  padding: 5px 10px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  background-color: rgba(58, 56, 56, 0.568);
}

.khongten-featured-threads-wrapper .featured-threads-left .featured-threads-container .featured-threads-content .post-info {
  cursor: pointer;
}

.khongten-featured-threads-wrapper .featured-threads-right {
  margin-top: 10px;
  padding-right: 0;
  padding-left: 12px;
}

.khongten-featured-threads-wrapper .featured-threads-right img {
  width: 100%;
  height: 244px;
}

.khongten-featured-threads-wrapper .featured-threads-right .img-bottom {
  padding-top: 12px;
}

.khongten-featured-threads-wrapper .featured-threads-right .featured-threads-container {
  position: relative;
}

.khongten-featured-threads-wrapper .featured-threads-right .featured-threads-container .featured-threads-content {
  position: absolute;
  top: 0px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: 1 solid black;
  padding: 0px 25px;
  padding-top: 158px;
}

.khongten-featured-threads-wrapper .featured-threads-right .featured-threads-container .featured-threads-content .post-content a {
  border: 1px solid white;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: normal;
  color: white;
  background-color: rgba(58, 56, 56, 0.568);
}

.khongten-featured-threads-wrapper .featured-threads-right .featured-threads-container .featured-threads-content .post-info {
  padding-top: 12px;
  cursor: pointer;
}

.khongten-featured-threads-wrapper .featured-threads-right .featured-threads-container .featured-threads-content .post-info p {
  padding: 0;
}

.khongten-featured-threads-wrapper .featured-threads-right .featured-threads-container-bottom {
  position: relative;
  padding-top: 12px;
}

.khongten-featured-threads-wrapper .featured-threads-right .featured-threads-container-bottom .featured-threads-content {
  position: absolute;
  top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: 1 solid black;
  padding: 0 25px;
  padding-top: 158px;
}

.khongten-featured-threads-wrapper .featured-threads-right .featured-threads-container-bottom .featured-threads-content .post-content a {
  border: 1px solid white;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: normal;
  color: white;
  background-color: rgba(58, 56, 56, 0.568);
}

.khongten-featured-threads-wrapper .featured-threads-right .featured-threads-container-bottom .featured-threads-content .post-info {
  padding-top: 12px;
  cursor: pointer;
}

.khongten-featured-threads-wrapper .featured-threads-right .featured-threads-container-bottom .featured-threads-content .post-info p {
  padding: 0;
}
/*# sourceMappingURL=style.css.map */