@import "../Helper/variables";
.khongten-header-wrapper {
    text-transform: uppercase;
    font-weight: bold;

    .khongten-top-header {
        display: flex;
        justify-content: space-between;
        color: #999999;
        .left-header {
            p {
                margin-bottom: 0;
            }
            img {
                width: 172px;
                margin-top: 0;
            }
            .icon {
                cursor: pointer;
                i {
                    color: black;
                    padding-right: 17%;
                    padding-left: 2px;
                }
                //hover
                .fa-facebook-square:hover {
                    color: $blue;
                }
                .fa-youtube:hover {
                    color: $red;
                }
                .fa-instagram:hover {
                    color: orange;
                }
                .fa-twitter:hover {
                    color: $blue;
                }
                //End hover
                #twitter {
                    padding: 0;
                }
            }
        }
        .right-header {
            text-align: right;
            a {
                font-weight: normal;
                color: #999999;
            }
            span {
                padding: 0 10px;
            }
            img {
                width: 172px;
                margin-top: 0;
            }
            i {
                display: block;
                color: black;
            }
        }
        //   Search

        .search-toggle {
            .icon-search {
                margin-right: -15px;
            }
            .icon-close i {
                color: black;
            }
            .search-icon {
                font-size: 16px;
                border: none;

                i {
                    background-color: white;
                }
                // &.icon-close{} { display: none; }
                &.icon-close {
                    opacity: 0;
                    visibility: hidden;
                }
            }
            &.opened {
                .search-icon {
                    // &.icon-search { display: none; }
                    // &.icon-close { display: block; }
                    &.icon-search {
                        opacity: 0;
                        visibility: hidden;
                    }
                    &.icon-close {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
        .search-container {
            position: relative;
            max-height: 0;
            overflow: hidden;

            &.opened {
                max-height: 40px;
            }
            input[type="text"] {
                outline: none;
                font-size: 16px;
                width: 200px;
                background-color: #eee;
                border: 0;
                border-radius: 3px;
                padding: 10px;
            }
            .search-icon {
                vertical-align: middle;
                border: none;
                i {
                    padding: 2px;
                    background-color: white;
                    font-size: 18px;
                }
            }
        }

        // End Search
    }
    .khongten-bottom-warpper {
        margin-top: 30px;
        hr {
            border: none;
            height: 1px;
            background-color: black;
        }
        .line-bottom {
            height: 3px;
        }
        .menu-list ul {
            display: flex;
            justify-content: space-between;
            padding: 0 120px;
            li {
                a {
                    color: black;
                }
                .new {
                    color: #999999;
                    font-weight: bold;
                }
            }
        }
    }
}
